<div>

    <div>
        <label for="username" class="nueva clase">
                <input type="text" name="username" id="username" placeholder="Username">
                <span><i class="far fa-user"></i></span>
        </label>
    </div>

    <div>
        <label for="password">
                <input type="password" name="password" id="password" placeholder="Password">
                <span><i class="fas fa-lock"></i></span>
        </label>
    </div>

    <a href="#">Ingresar <i far fab fa-dochub ></i></a>

</div>



<a routerLink="/home">Home</a>