<div class="home-content">
    <div class="card card-board">
        <span>
            <h3>Estudiantes</h3>
            <p>38</p>
        </span>
        <span>
            <i class="fas fa-user-graduate"></i>
        </span>
    </div>
    <div class="card card-board">
        <span>
            <h3>Patrocinadores</h3>
            <p>25</p>
        </span>
        <span>
            <i class="fas fa-user-tie"></i>
        </span>
    </div>
    <div class="card card-board">
        <span>
            <h3>Becas Otorgadas</h3>
            <p>38</p>
        </span>
        <span>
            <i class="fas fa-file-alt"></i>
        </span>
    </div>
    <div class="card card-info">
        <div class="card-header">
            <h3>Matriculados</h3>
        </div>
        <div class="card-content">
            Grafico
        </div>
    </div>
    <div class="card card-info">
        <div class="card-header">
            <h3>Nuevos Estudiantes</h3>
        </div>
        <div class="card-content">
            <p>- Lorem, ipsum dolor.</p>
            <p>- Lorem, ipsum dolor.</p>
            <p>- Lorem, ipsum dolor.</p>
            <p>- Lorem, ipsum dolor.</p>
            <p>- Lorem, ipsum dolor.</p>
        </div>
    </div>
    <div class="card card-info">
        <div class="card-header">
            <h3>Carreras Culminadas (Estudiantes)</h3>
        </div>
        <div class="card-content">
            <p>- Lorem, ipsum dolor.</p>
            <p>- Lorem, ipsum dolor.</p>
            <p>- Lorem, ipsum dolor.</p>
            <p>- Lorem, ipsum dolor.</p>
            <p>- Lorem, ipsum dolor.</p>
        </div>
    </div>
</div>